In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('DataCoSupplyChainDataset.csv', encoding='latin1')

C:\Users\Abin\AppData\Local\Temp\ipykernel_22896\2896570510.py:1: DtypeWarning: Columns (31) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('DataCoSupplyChainDataset.csv', encoding='latin1')

In [4]:
df.head()

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,...,Order Zipcode,Product Card Id,Product Category Id,Product Description,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode
0,DEBIT,3,4,91.25,3.146.400.146,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,02/03/2018 22:56,Standard Class
1,TRANSFER,5,4,-2.490.899.963,3.113.599.854,Late delivery,1,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/18/2018 12:27,Standard Class
2,CASH,4,4,-2.477.799.988,3.097.200.012,Shipping on time,0,73,Sporting Goods,San Jose,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/17/2018 12:06,Standard Class
3,DEBIT,3,4,2.286.000.061,3.048.099.976,Advance shipping,0,73,Sporting Goods,Los Angeles,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/16/2018 11:45,Standard Class
4,PAYMENT,2,4,1.342.100.067,298.25,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/15/2018 11:24,Standard Class

In [5]:
df.tail()

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,...,Order Zipcode,Product Card Id,Product Category Id,Product Description,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode
180514,CASH,4,4,40,399.980.011,Shipping on time,0,45,Fishing,Brooklyn,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980.011,0,1/20/2016 3:40,Standard Class
180515,DEBIT,3,2,-6.137.700.195,395.980.011,Late delivery,1,45,Fishing,Bakersfield,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980.011,0,1/19/2016 1:34,Second Class
180516,TRANSFER,5,4,1.411.100.006,391.980.011,Late delivery,1,45,Fishing,Bristol,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980.011,0,1/20/2016 21:00,Standard Class
180517,PAYMENT,3,4,1.862.299.957,387.980.011,Advance shipping,0,45,Fishing,Caguas,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980.011,0,1/18/2016 20:18,Standard Class
180518,PAYMENT,4,4,1.689.499.969,383.980.011,Shipping on time,0,45,Fishing,Caguas,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980.011,0,1/19/2016 18:54,Standard Class

In [6]:
df.shape

(180519, 53)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180519 entries, 0 to 180518
Data columns (total 53 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Type                           180519 non-null  object
 1   Days for shipping (real)       180519 non-null  int64
 2   Days for shipment (scheduled)  180519 non-null  int64
 3   Benefit per order              180519 non-null  object
 4   Sales per customer             180519 non-null  object
 5   Delivery Status                180519 non-null  object
 6   Late_delivery_risk             180519 non-null  int64
 7   Category Id                    180519 non-null  int64
 8   Category Name                  180519 non-null  object
 9   Customer City                  180519 non-null  object
 10  Customer Country               180519 non-null  object
 11  Customer Email                 180519 non-null  object
 12  Customer Fname                 180519 non-null  object
 13  Customer Id                    180519 non-null  int64
 14  Customer Lname                 180511 non-null  object
 15  Customer Password              180519 non-null  object
 16  Customer Segment               180519 non-null  object
 17  Customer State                 180519 non-null  object
 18  Customer Street                180519 non-null  object
 19  Customer Zipcode               180516 non-null  float64
 20  Department Id                  180519 non-null  int64
 21  Department Name                180519 non-null  object
 22  Latitude                       180519 non-null  object
 23  Longitude                      180519 non-null  object
 24  Market                         180519 non-null  object
 25  Order City                     180519 non-null  object
 26  Order Country                  180519 non-null  object
 27  Order Customer Id              180519 non-null  int64
 28  order date (DateOrders)        180519 non-null  object
 29  Order Id                       180519 non-null  int64
 30  Order Item Cardprod Id         180519 non-null  int64
 31  Order Item Discount            180519 non-null  object
 32  Order Item Discount Rate       180519 non-null  float64
 33  Order Item Id                  180519 non-null  int64
 34  Order Item Product Price       180519 non-null  object
 35  Order Item Profit Ratio        180519 non-null  object
 36  Order Item Quantity            180519 non-null  int64
 37  Sales                          180519 non-null  object
 38  Order Item Total               180519 non-null  object
 39  Order Profit Per Order         180519 non-null  object
 40  Order Region                   180519 non-null  object
 41  Order State                    180519 non-null  object
 42  Order Status                   180519 non-null  object
 43  Order Zipcode                  24840 non-null   float64
 44  Product Card Id                180519 non-null  int64
 45  Product Category Id            180519 non-null  int64
 46  Product Description            0 non-null       float64
 47  Product Image                  180519 non-null  object
 48  Product Name                   180519 non-null  object
 49  Product Price                  180519 non-null  object
 50  Product Status                 180519 non-null  int64
 51  shipping date (DateOrders)     180519 non-null  object
 52  Shipping Mode                  180519 non-null  object
dtypes: float64(4), int64(14), object(35)
memory usage: 73.0+ MB

In [8]:
df.describe()

,Days for shipping (real),Days for shipment (scheduled),Late_delivery_risk,Category Id,Customer Id,Customer Zipcode,Department Id,Order Customer Id,Order Id,Order Item Cardprod Id,Order Item Discount Rate,Order Item Id,Order Item Quantity,Order Zipcode,Product Card Id,Product Category Id,Product Description,Product Status
count,180519.000000,180519.000000,180519.000000,180519.000000,180519.000000,180516.000000,180519.000000,180519.000000,180519.000000,180519.000000,180519.000000,180519.000000,180519.000000,24840.000000,180519.000000,180519.000000,0.0,180519.0
mean,3.497654,2.931847,0.548291,31.851451,6691.379495,35921.126914,5.443460,6691.379495,36221.894903,692.509764,0.101668,90260.000000,2.127638,55426.132327,692.509764,31.851451,NaN,0.0
std,1.623722,1.374449,0.497664,15.640064,4162.918106,37542.461122,1.629246,4162.918106,21045.379569,336.446807,0.070415,52111.490959,1.453451,31919.279101,336.446807,15.640064,NaN,0.0
min,0.000000,0.000000,0.000000,2.000000,1.000000,603.000000,2.000000,1.000000,1.000000,19.000000,0.000000,1.000000,1.000000,1040.000000,19.000000,2.000000,NaN,0.0
25%,2.000000,2.000000,0.000000,18.000000,3258.500000,725.000000,4.000000,3258.500000,18057.000000,403.000000,0.040000,45130.500000,1.000000,23464.000000,403.000000,18.000000,NaN,0.0
50%,3.000000,4.000000,1.000000,29.000000,6457.000000,19380.000000,5.000000,6457.000000,36140.000000,627.000000,0.100000,90260.000000,1.000000,59405.000000,627.000000,29.000000,NaN,0.0
75%,5.000000,4.000000,1.000000,45.000000,9779.000000,78207.000000,7.000000,9779.000000,54144.000000,1004.000000,0.160000,135389.500000,3.000000,90008.000000,1004.000000,45.000000,NaN,0.0
max,6.000000,4.000000,1.000000,76.000000,20757.000000,99205.000000,12.000000,20757.000000,77204.000000,1363.000000,0.250000,180519.000000,5.000000,99301.000000,1363.000000,76.000000,NaN,0.0

In [9]:
df.nunique()

Type                                  4
Days for shipping (real)              7
Days for shipment (scheduled)         4
Benefit per order                 21758
Sales per customer                 2926
Delivery Status                       4
Late_delivery_risk                    2
Category Id                          51
Category Name                        50
Customer City                       563
Customer Country                      2
Customer Email                        1
Customer Fname                      782
Customer Id                       20652
Customer Lname                     1109
Customer Password                     1
Customer Segment                      3
Customer State                       46
Customer Street                    7458
Customer Zipcode                    995
Department Id                        11
Department Name                      11
Latitude                          11250
Longitude                          4487
Market                                5
Order City                         3597
Order Country                       164
Order Customer Id                 20652
order date (DateOrders)           65752
Order Id                          65752
Order Item Cardprod Id              118
Order Item Discount                1027
Order Item Discount Rate             18
Order Item Id                    180519
Order Item Product Price             75
Order Item Profit Ratio             162
Order Item Quantity                   5
Sales                               193
Order Item Total                   2926
Order Profit Per Order            21758
Order Region                         23
Order State                        1089
Order Status                          9
Order Zipcode                       609
Product Card Id                     118
Product Category Id                  51
Product Description                   0
Product Image                       118
Product Name                        118
Product Price                        75
Product Status                        1
shipping date (DateOrders)        63701
Shipping Mode                         4
dtype: int64

In [10]:
df.columns

Index(['Type', 'Days for shipping (real)', 'Days for shipment (scheduled)',
       'Benefit per order', 'Sales per customer', 'Delivery Status',
       'Late_delivery_risk', 'Category Id', 'Category Name', 'Customer City',
       'Customer Country', 'Customer Email', 'Customer Fname', 'Customer Id',
       'Customer Lname', 'Customer Password', 'Customer Segment',
       'Customer State', 'Customer Street', 'Customer Zipcode',
       'Department Id', 'Department Name', 'Latitude', 'Longitude', 'Market',
       'Order City', 'Order Country', 'Order Customer Id',
       'order date (DateOrders)', 'Order Id', 'Order Item Cardprod Id',
       'Order Item Discount', 'Order Item Discount Rate', 'Order Item Id',
       'Order Item Product Price', 'Order Item Profit Ratio',
       'Order Item Quantity', 'Sales', 'Order Item Total',
       'Order Profit Per Order', 'Order Region', 'Order State', 'Order Status',
       'Order Zipcode', 'Product Card Id', 'Product Category Id',
       'Product Description', 'Product Image', 'Product Name', 'Product Price',
       'Product Status', 'shipping date (DateOrders)', 'Shipping Mode'],
      dtype='object')

In [11]:
df.isna().sum()

Type                                  0
Days for shipping (real)              0
Days for shipment (scheduled)         0
Benefit per order                     0
Sales per customer                    0
Delivery Status                       0
Late_delivery_risk                    0
Category Id                           0
Category Name                         0
Customer City                         0
Customer Country                      0
Customer Email                        0
Customer Fname                        0
Customer Id                           0
Customer Lname                        8
Customer Password                     0
Customer Segment                      0
Customer State                        0
Customer Street                       0
Customer Zipcode                      3
Department Id                         0
Department Name                       0
Latitude                              0
Longitude                             0
Market                                0
Order City                            0
Order Country                         0
Order Customer Id                     0
order date (DateOrders)               0
Order Id                              0
Order Item Cardprod Id                0
Order Item Discount                   0
Order Item Discount Rate              0
Order Item Id                         0
Order Item Product Price              0
Order Item Profit Ratio               0
Order Item Quantity                   0
Sales                                 0
Order Item Total                      0
Order Profit Per Order                0
Order Region                          0
Order State                           0
Order Status                          0
Order Zipcode                    155679
Product Card Id                       0
Product Category Id                   0
Product Description              180519
Product Image                         0
Product Name                          0
Product Price                         0
Product Status                        0
shipping date (DateOrders)            0
Shipping Mode                         0
dtype: int64

In [12]:
df.notnull().sum()

Type                             180519
Days for shipping (real)         180519
Days for shipment (scheduled)    180519
Benefit per order                180519
Sales per customer               180519
Delivery Status                  180519
Late_delivery_risk               180519
Category Id                      180519
Category Name                    180519
Customer City                    180519
Customer Country                 180519
Customer Email                   180519
Customer Fname                   180519
Customer Id                      180519
Customer Lname                   180511
Customer Password                180519
Customer Segment                 180519
Customer State                   180519
Customer Street                  180519
Customer Zipcode                 180516
Department Id                    180519
Department Name                  180519
Latitude                         180519
Longitude                        180519
Market                           180519
Order City                       180519
Order Country                    180519
Order Customer Id                180519
order date (DateOrders)          180519
Order Id                         180519
Order Item Cardprod Id           180519
Order Item Discount              180519
Order Item Discount Rate         180519
Order Item Id                    180519
Order Item Product Price         180519
Order Item Profit Ratio          180519
Order Item Quantity              180519
Sales                            180519
Order Item Total                 180519
Order Profit Per Order           180519
Order Region                     180519
Order State                      180519
Order Status                     180519
Order Zipcode                     24840
Product Card Id                  180519
Product Category Id              180519
Product Description                   0
Product Image                    180519
Product Name                     180519
Product Price                    180519
Product Status                   180519
shipping date (DateOrders)       180519
Shipping Mode                    180519
dtype: int64

In [13]:
df['Order Zipcode']

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
          ..
180514   NaN
180515   NaN
180516   NaN
180517   NaN
180518   NaN
Name: Order Zipcode, Length: 180519, dtype: float64

In [14]:
df = df.drop('Product Description', axis=1)

In [15]:
df=df.fillna(0)

In [16]:
df.isna().sum()

Type                             0
Days for shipping (real)         0
Days for shipment (scheduled)    0
Benefit per order                0
Sales per customer               0
Delivery Status                  0
Late_delivery_risk               0
Category Id                      0
Category Name                    0
Customer City                    0
Customer Country                 0
Customer Email                   0
Customer Fname                   0
Customer Id                      0
Customer Lname                   0
Customer Password                0
Customer Segment                 0
Customer State                   0
Customer Street                  0
Customer Zipcode                 0
Department Id                    0
Department Name                  0
Latitude                         0
Longitude                        0
Market                           0
Order City                       0
Order Country                    0
Order Customer Id                0
order date (DateOrders)          0
Order Id                         0
Order Item Cardprod Id           0
Order Item Discount              0
Order Item Discount Rate         0
Order Item Id                    0
Order Item Product Price         0
Order Item Profit Ratio          0
Order Item Quantity              0
Sales                            0
Order Item Total                 0
Order Profit Per Order           0
Order Region                     0
Order State                      0
Order Status                     0
Order Zipcode                    0
Product Card Id                  0
Product Category Id              0
Product Image                    0
Product Name                     0
Product Price                    0
Product Status                   0
shipping date (DateOrders)       0
Shipping Mode                    0
dtype: int64

In [17]:
df[df.duplicated()]

Empty DataFrame
Columns: [Type, Days for shipping (real), Days for shipment (scheduled), Benefit per order, Sales per customer, Delivery Status, Late_delivery_risk, Category Id, Category Name, Customer City, Customer Country, Customer Email, Customer Fname, Customer Id, Customer Lname, Customer Password, Customer Segment, Customer State, Customer Street, Customer Zipcode, Department Id, Department Name, Latitude, Longitude, Market, Order City, Order Country, Order Customer Id, order date (DateOrders), Order Id, Order Item Cardprod Id, Order Item Discount, Order Item Discount Rate, Order Item Id, Order Item Product Price, Order Item Profit Ratio, Order Item Quantity, Sales, Order Item Total, Order Profit Per Order, Order Region, Order State, Order Status, Order Zipcode, Product Card Id, Product Category Id, Product Image, Product Name, Product Price, Product Status, shipping date (DateOrders), Shipping Mode]
Index: []

[0 rows x 52 columns]